
#account{
    padding-top: 14px;
    padding-right: 40px;
    margin-right: 0px;
    position: absolute;
    right: 0;
    color: white;
}
#dropDownContent{
    margin-top: 11px;
    background-color: #2e3236;
    border-radius: 1px;

    width: 200px;
}
#dropDownContent span{
    color: white;
}
#dropDownContent button span:hover{
    cursor: pointer;
    color: blue;
    background-color: #2e3236;
}
.d-inline-block:hover{
    cursor: pointer;
}
