<div class="row" id="account">
  <div class="col">
      <div ngbDropdown class="d-inline-block">
          <span><p id="dropdownBasic1" ngbDropdownToggle>Account</p></span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropDownContent">
              <button class="dropdown-item" (click)="click()">Sing in</button>
              <button class="dropdown-item" (click)="logout()">Sing out</button>
              <button class="dropdown-item"><span>Sing out</span></button>
          </div>
      </div>
  </div>
</div>