<header id="navigation-head">
  <nav class="navbar navbar-expand-lg navbar-light" id="navBar">
      <a class="navbar-brand" rel="Home">JukeBox</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="index.html" rel="Home" >Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" rel="Artists" id="art">Artists</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"  rel="Ganre" id="gen">Ganre</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"  rel="Music" id="mus">Music</a>
              </li>

          </ul>
          <div class="nav navbar-nav navbar-right" id="navBar">
              <li class="nav-item">
                  <p id="activeUser"></p>
              </li>
              <div class="dropdown">
                  <li id="dropdownUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user">
                          <span class="dot" id="status"></span>
                      </i>

                  </li>
                  <div class="dropdown-menu" aria-labelledby="dropdownUserButton" id="dropDownUserMenu">
                      <a id="singInLink" class="dropdown-item" href="#" data-toggle='modal' data-target='#sing-modal'>Sing in</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">Sing out</a>
                  </div>
              </div>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      Styles
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownStyleMenu">
                      <a id="style1" class="dropdown-item" href="#" onclick="changeIt()" rel="red">Style 1</a>
                      <a id="style2" class="dropdown-item" href="#" onclick="changeIt()" rel="blue">Style 2</a>
                      <a id="style3" class="dropdown-item" href="#" onclick="changeIt()" rel="lightblue">Style 3</a>
                      <a id="style4" class="dropdown-item" href="#" onclick="changeIt()" rel="yellow">Style 4</a>
                  </div>
              </div>

          </div>
      </div>

  </nav>
</header>