<div id="top-nav">
    <div id="style-whole">
        <div id="slide-wraper">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <app-acount></app-acount>
    </div>
</div>
    <!-- <div class="nav navbar-nav navbar-right" id="navBarR">
            <li class="nav-item">
                <p id="activeUser"></p>
            </li>
            <div class="dropdown" ngbDropdown>
                <li id="dropdownUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                    <i class="fa fa-user">
                        <span class="dot" id="status"></span>
                    </i>
                </li>
                <div class="dropdown-menu" aria-labelledby="dropdownUserButton" id="dropDownUserMenu" ngbDropdownMenu>
                    <a id="singInLink" class="dropdown-item" href="#" data-toggle='modal' data-target='#sing-modal'>Sing in</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Sing out</a>
                </div>
            </div>
            <div class="dropdown" ngbDropdown>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" ngbDropdownToggle>
                    Styles
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownStyleMenu" ngbDropdownMenu>
                    <a id="style1" class="dropdown-item" href="#" onclick="changeIt()" rel="red">Style 1</a>
                    <a id="style2" class="dropdown-item" href="#" onclick="changeIt()" rel="blue">Style 2</a>
                    <a id="style3" class="dropdown-item" href="#" onclick="changeIt()" rel="lightblue">Style 3</a>
                    <a id="style4" class="dropdown-item" href="#" onclick="changeIt()" rel="yellow">Style 4</a>
                </div>
            </div>
    
        </div> -->