<div id="wraper" class="col-md-12">
      <h3> Recomended</h3>
      <ul class="list">
        <div id="list-item">
          <li class="list-item">
            <h5>First</h5>
            <h6>Second</h6>
          </li>
        </div>
        <div id="list-item">
          <li class="list-item">
            <h5>First</h5>
            <h6>Second</h6>
          </li>
        </div>
        <div id="list-item">
          <li class="list-item">
            <h5>First</h5>
            <h6>Second</h6>
          </li>
        </div>
      </ul>
</div>